#game div {
	border: 1px solid black;
	width: 15%;
	height: 200px;
	margin: 10px;
	display: inline-block;
}

img {
	height: 100%;
	overflow: hidden;
}
body {
	background-color: whitesmoke;
}

#popUp {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	text-align: center;
	font-size: 20px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);

	align-items: center;
	padding-top: 100px;
}

#popUp-info {
	background-color: goldenrod;
	opacity: 1;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	color: #4caf50;
	font-size: 50px;
}

.score,
.highscore {
	text-align: center;
	font-size: 25px;
}

.dropDown {
	padding-top: 10px;
	display: flex;
	justify-content: center;
	color: indigo;
}

#reset {
	background-color: lawngreen;
	border-radius: 4px;
}
